@import url( home.css );
@import url( search.css );
@import url( onepage.css );
@import url( article.css );
@import url( job.css );
@import url( bbs.css );
@import url( sitemaps.css );
@import url( link.css );
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
HTML {
	BACKGROUND: url(bg.png) repeat-x; TEXT-ALIGN: center
}
BODY {
	MARGIN: 6px auto; WIDTH: 834px; COLOR: #000; FONT-FAMILY: Courier New
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:active {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
FORM {
	MARGIN: 0px
}
OBJECT {
	CLEAR: both; DISPLAY: block
}
#box {
	BACKGROUND: url(box_bg.png) repeat-y; MARGIN: auto 0px; WIDTH: 834px
}
#box_bottom {
	DISPLAY: block; BACKGROUND: url(box_bottom.png) no-repeat; WIDTH: 834px; HEIGHT: 20px
}
#main {
	BACKGROUND: url(box_head.png) no-repeat; MARGIN: 0px; WIDTH: 100%
}
#top {
	CLEAR: both; DISPLAY: block; MARGIN: 6px 3%; WIDTH: 94%; TEXT-ALIGN: left
}
#top_left {
	DISPLAY: block; FLOAT: left; WIDTH: 40%; TEXT-ALIGN: left
}
#k_topmenu {
	
}
#k_logo {
	MARGIN: 15px 0px 0px 18px
}
#top_right {
	DISPLAY: block; FLOAT: left; WIDTH: 59%
}
#top_right SPAN {
	CLEAR: both; DISPLAY: block; WIDTH: 98%; LINE-HEIGHT: 36px; TEXT-ALIGN: right
}
#k_usernav {
	DISPLAY: inline; FLOAT: left; WIDTH: 100%; COLOR: #92b405; LINE-HEIGHT: 22px; TEXT-ALIGN: right
}
#k_usernav A {
	FONT-WEIGHT: bold; COLOR: #92b405
}
#k_usernav I {
	MARGIN: 6px
}
#k_menu {
	CLEAR: both; BACKGROUND: url(menubg.png) repeat-x; MARGIN: 10px 7px; WIDTH: 820px; LINE-HEIGHT: 24px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
#k_menu LI {
	FLOAT: left; MARGIN-LEFT: 0px; WIDTH: 80px; TEXT-ALIGN: left
}
#k_menu LI A {
	DISPLAY: block; WIDTH: 80px; COLOR: #fff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#k_menu LI A:hover {
	BACKGROUND: #6139fd
}
#k_menu LI UL {
	BORDER-RIGHT: #5a92e6 1px solid; BORDER-TOP: #5a92e6 1px solid; LEFT: -9999px; MARGIN: 0px; BORDER-LEFT: #5a92e6 1px solid; WIDTH: 120px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #5a92e6 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute
}
#k_menu LI UL LI {
	CLEAR: both; BACKGROUND: #c8dcf9; FILTER: alpha(opacity=95); WIDTH: 120px
}
#k_menu LI UL LI A {
	DISPLAY: block; PADDING-LEFT: 10%; WIDTH: 90%; TEXT-ALIGN: left
}
#k_menu LI UL LI A:link {
	COLOR: #666; TEXT-DECORATION: none
}
#k_menu LI UL LI A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
#k_menu LI UL LI A:hover {
	FONT-WEIGHT: bold; BACKGROUND: #6740fc; COLOR: #fff; TEXT-DECORATION: none
}
#k_menu LI:hover UL {
	LEFT: auto
}
#k_menu LI.sfhover UL {
	LEFT: auto
}
#bottom {
	DISPLAY: block; MARGIN: 0px auto; WIDTH: 834px; COLOR: #9e9e9e
}
#bottom A {
	COLOR: #9e9e9e
}
#bottom A:hover {
	COLOR: #df7d20
}
#k_bottommenu {
	CLEAR: both; MARGIN: 24px 3% 0px; WIDTH: 94%
}
#k_bottommenu A {
	MARGIN: 9px
}
#k_bottominfo {
	LINE-HEIGHT: 24px
}
#kingcms {
	LINE-HEIGHT: 40px
}
#guide {
	CLEAR: both; DISPLAY: block; MARGIN: 0px 3%; OVERFLOW: hidden; WIDTH: 94%; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
#guide SPAN {
	MARGIN: 0px 10px; OVERFLOW: hidden; COLOR: #659ea9; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
#guide SPAN A {
	COLOR: #ff6600
}
.k_pagelist {
	CLEAR: both; MARGIN: 0px; WIDTH: 100%; LINE-HEIGHT: 30px; TEXT-ALIGN: left
}
.k_pagelist A {
	MARGIN: 0px 3px; COLOR: #797979
}
.k_pagelist STRONG {
	MARGIN: 0px 3px; COLOR: #b6550e
}
.pagelist SPAN {
	MARGIN: 0px 3px; COLOR: #797979
}
#k_comment {
	MARGIN: 5px 3%; WIDTH: 94%
}
#k_comment H1 {
	FONT-SIZE: 22px; COLOR: #0099ff; LINE-HEIGHT: 34px
}
#k_comment DL {
	CLEAR: both; MARGIN: 0px; WIDTH: 100%; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
#k_comment DL DT {
	BORDER-RIGHT: #aad6c4 1px solid; BORDER-TOP: #aad6c4 3px solid; MARGIN-TOP: 15px; BACKGROUND: #f4f4f4; BORDER-LEFT: #aad6c4 1px solid; WIDTH: 100%; COLOR: #659ea9; TEXT-ALIGN: right
}
#k_comment DL DT STRONG {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 12px; COLOR: #df7d20
}
#k_comment DL DT A {
	DISPLAY: block; FLOAT: left; COLOR: #659ea9
}
#k_comment DL DT INPUT {
	FLOAT: left; VERTICAL-ALIGN: middle
}
#k_comment DL DT SPAN {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 6px
}
#k_comment DL DT I {
	
}
#k_comment DL DD {
	BORDER-RIGHT: #aad6c4 1px solid; BORDER-TOP: #aad6c4 0px solid; MARGIN: 0px; BORDER-LEFT: #aad6c4 1px solid; WIDTH: 100%; COLOR: #4e4e4e; BORDER-BOTTOM: #aad6c4 1px solid
}
#k_comment FORM {
	CLEAR: both; MARGIN-TOP: 10px
}
#k_hotcomment {
	MARGIN-LEFT: 25px; WIDTH: 300px; TEXT-ALIGN: left
}
#k_hotcomment DT {
	BORDER-RIGHT: #aad6c4 1px solid; BORDER-TOP: #aad6c4 3px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BORDER-LEFT: #aad6c4 1px solid; LINE-HEIGHT: 22px; BORDER-BOTTOM: #aad6c4 1px solid
}
#k_hotcomment DD {
	BORDER-RIGHT: #aad6c4 1px solid; BORDER-TOP: #aad6c4 0px solid; MARGIN: 0px; BORDER-LEFT: #aad6c4 1px solid; LINE-HEIGHT: 18px; BORDER-BOTTOM: #aad6c4 1px solid
}
.k_form {
	CLEAR: both; MARGIN: 5px 3%; WIDTH: 94%; TEXT-ALIGN: left
}
.k_form TABLE {
	BACKGROUND: #f47a00; WIDTH: 100%
}
.k_form TABLE TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #feda99; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; LETTER-SPACING: 2px; TEXT-ALIGN: center
}
.k_form TABLE TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.k_th {
	WIDTH: 25%
}
.k_form TABLE TD SELECT {
	MARGIN: 3px; VERTICAL-ALIGN: middle
}
.k_form H6 {
	BORDER-RIGHT: #f47a00 1px solid; BORDER-TOP: #f47a00 1px solid; DISPLAY: block; BACKGROUND: #fdca6e; MARGIN: 3px 0px 0px; BORDER-LEFT: #f47a00 1px solid; WIDTH: 99.7%; COLOR: #4e4e4e; LINE-HEIGHT: 24px; BORDER-BOTTOM: #f47a00 0px solid; LETTER-SPACING: 5px; TEXT-ALIGN: center
}
#k_active {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; WIDTH: 100%; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#k_active INPUT {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 12px; BACKGROUND: url(active_input.gif) #f4f4f4 repeat-x; PADDING-BOTTOM: 0px; MARGIN: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ccc 1px solid; COLOR: #151c55; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; LETTER-SPACING: 5px; HEIGHT: 23px
}
#k_ubar {
	FLOAT: left; MARGIN: 0px; WIDTH: 15%; LINE-HEIGHT: 24px; LIST-STYLE-TYPE: none
}
#k_ubar LI {
	CLEAR: both; BACKGROUND: #f4f4f4; MARGIN-BOTTOM: 5px; WIDTH: 100%; TEXT-ALIGN: center
}
#k_ubar LI A {
	DISPLAY: block; WIDTH: 100%
}
#k_ubar LI A:hover {
	FONT-WEIGHT: bold; BACKGROUND: #db832a; COLOR: #fff
}
#k_uinfo {
	FLOAT: left; MARGIN-LEFT: 1%; WIDTH: 83%; LINE-HEIGHT: 24px
}
.k_tip {
	DISPLAY: block; PADDING-LEFT: 5px; COLOR: #b6550e
}
.k_input_max {
	VERTICAL-ALIGN: middle; WIDTH: 300px
}
.k_input_mid {
	VERTICAL-ALIGN: middle; WIDTH: 200px
}
.k_input_small {
	VERTICAL-ALIGN: middle; WIDTH: 100px
}
.k_input_mini {
	VERTICAL-ALIGN: middle; WIDTH: 50px
}
.k_text_max {
	OVERFLOW: auto; WIDTH: 470px
}
.k_text_mid {
	OVERFLOW: auto; WIDTH: 350px
}
.k_text_small {
	OVERFLOW: auto; WIDTH: 250px
}
#popmsg {
	BACKGROUND: #cc3333; LEFT: 3px; WIDTH: 120px; LINE-HEIGHT: 22px; POSITION: absolute; TOP: 3px; HEIGHT: 22px; TEXT-ALIGN: center
}
#popmsg A {
	COLOR: #fff
}
INS {
	DISPLAY: block; WIDTH: 100%; COLOR: #bdbdbd; FONT-STYLE: italic; TEXT-ALIGN: center
}
.k_c {
	TEXT-ALIGN: center
}
.k_l {
	TEXT-ALIGN: left
}
.k_r {
	TEXT-ALIGN: right
}
.k_fl {
	DISPLAY: block; FLOAT: left
}
.k_fr {
	DISPLAY: block; FLOAT: right
}
