TD {
	FONT-SIZE: 12px
}
BODY {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.white {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.blue {
	COLOR: #000099; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
.blue1 {
	COLOR: #000099; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #800080
}
A.nav1 {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.nav1:hover {
	COLOR: #ffefa5; TEXT-DECORATION: underline
}
A.nav1:active {
	COLOR: #800080
}
.finput {
	BORDER-RIGHT: 0px ridge; BORDER-TOP: #727272 1px ridge; FONT-SIZE: 12px; BORDER-LEFT: #727272 1px ridge; BORDER-BOTTOM: 0px ridge
}
.foxinput {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #cccccc
}
.black {
	COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.blue2 {
	COLOR: #0033ff; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
.blue3 {
	COLOR: #0031ff; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.blue4 {
	FONT-SIZE: 12px; COLOR: #0031ff; TEXT-DECORATION: underline
}
.blue5 {
	COLOR: #000099; LINE-HEIGHT: 19px; TEXT-DECORATION: underline
}
.blue6 {
	COLOR: #000099; LINE-HEIGHT: 19px; TEXT-DECORATION: none
}
.blue7 {
	COLOR: #0031ff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.blue8 {
	COLOR: #0a69cb; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.nc {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; LETTER-SPACING: 2px
}
A.zc {
	FONT-SIZE: 12px; COLOR: #000099; TEXT-DECORATION: none
}
A.zc:hover {
	COLOR: #000099; TEXT-DECORATION: underline
}
A.zc:active {
	COLOR: #000099
}
