.ownerClassLog {
	DISPLAY: none
}
.ownerClassComment {
	
}
H5.tips {
	BORDER-RIGHT: #ffcc00 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffcc00 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 13px; BACKGROUND: url(../images/bg_tips.png) #ffcc00; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #ffcc00 1px solid; COLOR: #990000; PADDING-TOP: 3px; BORDER-BOTTOM: #ffcc00 1px solid
}
H5.tips IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tips_body {
	BORDER-RIGHT: #ffcc00 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ffcc00 1px solid; PADDING-LEFT: 4px; BACKGROUND: #ffffcc; PADDING-BOTTOM: 4px; BORDER-LEFT: #ffcc00 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ffcc00 1px solid
}
.tips_body FORM {
	MARGIN: 0px
}
.tips_body A:link {
	COLOR: #990000
}
.tips_body A:visited {
	COLOR: #990000
}
.tips_body A:hover {
	COLOR: #990000
}
.tips_body .input {
	BORDER-RIGHT: #bd5b21 1px solid; BORDER-TOP: #bd5b21 1px solid; BORDER-LEFT: #bd5b21 1px solid; BORDER-BOTTOM: #bd5b21 1px solid; HEIGHT: 17px
}
.tips_body .hints {
	PADDING-RIGHT: 2px; PADDING-LEFT: 18px; BACKGROUND: url(../images/notify.gif) no-repeat left 4px; PADDING-BOTTOM: 2px; MARGIN: 3px 0px 0px 3px; PADDING-TOP: 2px
}
.tips_body .error {
	BORDER-RIGHT: #cc0033 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cc0033 1px solid; PADDING-LEFT: 21px; BACKGROUND: url(../images/tips.gif) #ff9f88 no-repeat 3px 4px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cc0033 1px solid; COLOR: #990000; PADDING-TOP: 1px; BORDER-BOTTOM: #cc0033 1px solid
}
