BLOCKQUOTE {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 68px; MIN-HEIGHT: 60px; BACKGROUND: url(../images/quote.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma
}
BLOCKQUOTE UL {
	PADDING-LEFT: 88px
}
BLOCKQUOTE OL {
	PADDING-LEFT: 88px
}
.Content-body LI {
	LIST-STYLE-TYPE: disc
}
.codeHead {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid
}
.codeText {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1.1em; FONT: 12px 'Courier New', Monospace; OVERFLOW: auto; BORDER-LEFT: #ddd 1px solid; WIDTH: 98%; WORD-BREAK: break-all; PADDING-TOP: 0px; BORDER-BOTTOM: #ddd 1px solid
}
.codeText OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; MARGIN: 0px 1px 0px 45px; BORDER-LEFT: #ddd 1px solid; COLOR: #5c5c5c; PADDING-TOP: 5px; LIST-STYLE-TYPE: decimal
}
.codeText OL LI {
	PADDING-LEFT: 10px; BACKGROUND: #fff; LIST-STYLE-TYPE: decimal
}
.codeText OL LI.alt {
	BACKGROUND: #fff
}
.codeText OL LI SPAN {
	COLOR: #000
}
.codeText .comment {
	COLOR: #008200
}
.codeText .comments {
	COLOR: #008200
}
.codeText .string {
	COLOR: blue
}
.codeText .keyword {
	FONT-WEIGHT: bold; COLOR: #069
}
.codeText .preprocessor {
	COLOR: gray
}
.dp-c .comment {
	COLOR: green
}
.dp-c .string {
	COLOR: blue
}
.dp-c .preprocessor {
	COLOR: gray
}
.dp-c .keyword {
	COLOR: blue
}
.dp-c .vars {
	COLOR: #d00
}
.dp-vb .comment {
	COLOR: green
}
.dp-vb .string {
	COLOR: blue
}
.dp-vb .preprocessor {
	COLOR: gray
}
.dp-vb .keyword {
	COLOR: blue
}
.dp-sql .comment {
	COLOR: green
}
.dp-sql .string {
	COLOR: red
}
.dp-sql .keyword {
	COLOR: #7f0055
}
.dp-sql .func {
	COLOR: #ff1493
}
.dp-sql .op {
	COLOR: blue
}
.dp-xml .cdata {
	COLOR: #ff1493
}
.dp-xml .comments {
	COLOR: green
}
.dp-xml .tag {
	FONT-WEIGHT: bold; COLOR: blue
}
.dp-xml .tag-name {
	FONT-WEIGHT: bold; COLOR: #7f0055
}
.dp-xml .attribute {
	COLOR: red
}
.dp-xml .attribute-value {
	COLOR: blue
}
.dp-delphi .comment {
	COLOR: #008200; FONT-STYLE: italic
}
.dp-delphi .string {
	COLOR: blue
}
.dp-delphi .number {
	COLOR: blue
}
.dp-delphi .directive {
	COLOR: #008284
}
.dp-delphi .keyword {
	FONT-WEIGHT: bold; COLOR: navy
}
.dp-delphi .vars {
	COLOR: #000
}
.dp-py .comment {
	COLOR: green
}
.dp-py .string {
	COLOR: red
}
.dp-py .docstring {
	COLOR: green
}
.dp-py .keyword {
	FONT-WEIGHT: bold; COLOR: blue
}
.dp-py .builtins {
	COLOR: #ff1493
}
.dp-py .magicmethods {
	COLOR: #808080
}
.dp-py .exceptions {
	COLOR: brown
}
.dp-py .types {
	COLOR: brown; FONT-STYLE: italic
}
.dp-py .commonlibs {
	COLOR: #8a2be2; FONT-STYLE: italic
}
.dp-rb .comment {
	COLOR: #c00
}
.dp-rb .string {
	COLOR: #f0c
}
.dp-rb .symbol {
	COLOR: #02b902
}
.dp-rb .keyword {
	COLOR: #069
}
.dp-rb .variable {
	COLOR: #6cf
}
.dp-css .comment {
	COLOR: green
}
.dp-css .string {
	COLOR: red
}
.dp-css .keyword {
	COLOR: blue
}
.dp-css .colors {
	COLOR: darkred
}
.dp-css .vars {
	COLOR: #d00
}
.dp-j .comment {
	COLOR: #3f7f5f
}
.dp-j .string {
	COLOR: #2a00ff
}
.dp-j .keyword {
	FONT-WEIGHT: bold; COLOR: #7f0055
}
.dp-j .annotation {
	COLOR: #646464
}
.dp-j .number {
	COLOR: #c00000
}
.dp-cpp .comment {
	COLOR: #e00
}
.dp-cpp .string {
	COLOR: red
}
.dp-cpp .preprocessor {
	FONT-WEIGHT: bold; COLOR: #cd00cd
}
.dp-cpp .keyword {
	FONT-WEIGHT: bold; COLOR: #5697d9
}
.dp-cpp .datatypes {
	FONT-WEIGHT: bold; COLOR: #2e8b57
}
