A:link {
	COLOR: #1a8892; TEXT-DECORATION: none
}
A:visited {
	COLOR: #1a8892; TEXT-DECORATION: none
}
A:hover {
	COLOR: #111; TEXT-DECORATION: none
}
.menuA:link {
	COLOR: #a9a289; FONT-FAMILY: serif; HEIGHT: 18px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menuA:visited {
	COLOR: #a9a289; FONT-FAMILY: serif; HEIGHT: 18px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menuA:hover {
	COLOR: #ede9dc
}
.titleA:link {
	FONT-WEIGHT: bold; COLOR: #1692b8; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.titleA:visited {
	FONT-WEIGHT: bold; COLOR: #1692b8; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.titleA:hover {
	COLOR: #666; TEXT-DECORATION: none
}
.sideA:link {
	MARGIN-TOP: 2px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(side.gif) no-repeat 0px 7px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 190px; COLOR: #1a8892; LINE-HEIGHT: 140%; PADDING-TOP: 3px; BORDER-BOTTOM: #c9c9c9 1px dashed; HEIGHT: 16px; TEXT-DECORATION: none
}
.sideA:visited {
	MARGIN-TOP: 2px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(side.gif) no-repeat 0px 7px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 190px; COLOR: #1a8892; LINE-HEIGHT: 140%; PADDING-TOP: 3px; BORDER-BOTTOM: #c9c9c9 1px dashed; HEIGHT: 16px; TEXT-DECORATION: none
}
.sideA:hover {
	COLOR: #000; BORDER-BOTTOM: #000 1px dashed
}
.CategoryA:link {
	TEXT-DECORATION: none
}
.CategoryA:visited {
	TEXT-DECORATION: none
}
.CategoryA:hover {
	TEXT-DECORATION: none
}
#container #foot A:link {
	COLOR: #2e2e2e; TEXT-DECORATION: none
}
#container #foot A:visited {
	COLOR: #2e2e2e; TEXT-DECORATION: none
}
#container #foot A:hover {
	COLOR: #a1a1a1; TEXT-DECORATION: none
}
.more:link {
	PADDING-LEFT: 18px; FONT-SIZE: 11px; FLOAT: right; COLOR: #1692b8; TEXT-DECORATION: none
}
.more:visited {
	PADDING-LEFT: 18px; FONT-SIZE: 11px; FLOAT: right; COLOR: #1692b8; TEXT-DECORATION: none
}
.more:hover {
	PADDING-RIGHT: 2px; COLOR: #cf8d00
}
.img:link {
	BORDER-BOTTOM-WIDTH: 3px; BORDER-BOTTOM-COLOR: #ffffff; HEIGHT: auto; max-width: 100%
}
.img:visited {
	BORDER-BOTTOM-WIDTH: 3px; BORDER-BOTTOM-COLOR: #ffffff; HEIGHT: auto; max-width: 100%
}
.img:hover {
	BORDER-BOTTOM-WIDTH: 3px; BORDER-BOTTOM-COLOR: #ffffff; HEIGHT: auto; max-width: 100%
}
